page-about {
  ion-content {
    //background-color: black;
    //background: black;
  }
  #footer{
    //background-color: black;
    //background: black;
    position:absolute;
    text-align-all: center;
    bottom: 0;
    //color:white;
    //background: black;
  }
ion-content{

  //background-color: black;
  //background: black;

}
  #t{
    //background-color: black;
    //background: black;
    //color:white;
  }
}
